.topBar{
    background-color: white;
    height: 56px;
    position: fixed;
    left: 230px;
    z-index: 2;
    right: 0;
    padding: 0;
    margin: 0;
    transition: ease-in;
    transition-duration: var(--animDuration);
    display: flex;
}

.topBarExtended {
    left: 56px;
}

.topBarGridLeft {
    height: 56px;
    padding-inline-start: 4px;
}

.topBarGridRight {
    height: 56px;
    padding-inline-end: 4px;
}

.firstName {
    font-size: 16px;
    font-weight: 500;
    padding-inline-start: 8px;
}