.topBar{
    background-color: white;
    height: 56px;
    position: fixed;
    left: 230px;
    right: 0;
    padding: 0;
    margin: 0;
    transition: ease-in;
    transition-duration: var(--animDuration);
}

.topBarExtended {
    left: 56px;
}

.topBarGrid {
    height: 56px;
}