.container {
    padding-inline: 16px;
    padding-block: 28px;
}

.pendingEdits {
    /*background-color: #f44336;*/
    background: linear-gradient(to top right, #f44336, #ffa19c);
}

.totalAttendees {
    background: linear-gradient(to top right, #ff9800, #ffcf33);
}

.totalPresenters {
    background: linear-gradient(to top right, #2196f3, #33eaff);
}

.totalResearchers {
    background: linear-gradient(to top right, #4caf50, #91ff35);
}
