.container {
    padding-inline: 16px;
    padding-block: 28px;
}

.pendingEdits {
    background-color: #f44336;
}

.totalAttendees {
    background-color: #ff9800;
}

.totalPresenters {
    background-color: #2196f3;
}

.totalResearchers {
    background-color: #4caf50;
}